header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.535);
    backdrop-filter: blur(30px);
    position: fixed;
    top: 0;

    .nav {
        @include navStyle(space-between, center, 0);
        height: 60px;

        &__logo {
            font-size: 24px;
            color: #030f1a;
            text-decoration: none;
        }

        &__list {
            display: flex;
            column-gap: 8rem;

            &--item {
                list-style-type: none;

                &-link {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #030f1a;

                    &:hover {
                        color: silver;
                    }
                }
            }

        }

    }
}



@media only screen and (max-width: 768px) {

    header {
        background-color: green;

        .nav {

            &__logo {
                color: #ffffff;
            }

            &__list {

                column-gap: 4rem;

                &--item {


                    &-link {

                        color: #add8ff;

                        &:hover {
                            color: rgb(192, 88, 88);
                        }
                    }
                }

            }

        }
    }
}