*::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe bold";
  src: url("../assets/fonts/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf");
}

@font-face {
  font-family: "Segoe regular";
  src: url("../assets/fonts/segoe-ui-4-cufonfonts/Segoe\ UI.ttf");
}

body {
  font-family: "Segoe bold";
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ------------------- HEADER - START ------------------ */

header {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.nav__logo {
  font-size: 48px;
  text-decoration: none;
  color: #4579cb;
}

.nav__list {
  display: flex;
  column-gap: 60px;
  list-style-type: none;
  align-items: center;
}

.nav__list--item {
  font-size: 16px;
}

.nav__list--item-link {
  color: #666666;
  text-decoration: none;
}

.btn {
  width: 170px;
  height: 50px;
  background-color: #4579cb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease;
}

/* ------------------- HEADER -  END ------------------ */

/*  ------------------ INTRO SECTION START ------------- */

#intro {
  min-height: 771px;
  width: 100%;
  background-image: url("../assets/images/Union.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.wrapper {
  max-width: 1046px;
  text-align: center;
  margin: 126px auto;
}

.intro__title {
  font-size: 58px;
  color: #474747;
  line-height: 78px;
  letter-spacing: 0.002rem;
}

.intro__title span {
  color: #4579cb;
}

.intro__text {
  color: #6666;
  font-weight: 400 !important;
  font-size: 16px;
  max-width: 858px;
  text-align: center;
  margin: 38px auto;
}

.intro__btn {
  width: 170px;
  height: 50px;
  background-color: #4579cb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  margin: 38px auto 21px;
  border: none;
  transition: all 0.3s ease;
}

.wrapper a span {
  color: #666666;
  position: relative;
  top: -4px;
  font-family: "Segoe regular";
}

/*  --------------- END ---------------- */

/* ---------------- SERVICE -------------- */

#service {
  min-height: 265px;
  width: 100%;
  text-align: center;
}

.service__title {
  margin-bottom: 20px;
  font-size: 26px;
  color: #666666;
}

.service__text {
  font-family: "Segoe regular";
  max-width: 875px;
  margin: 0 auto 46px;
  color: #666666;
}

.slider {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
  flex-wrap: wrap;
}

.slider img {
  filter: grayscale(1);
  transition: all 0.3s ease;
}

.slider img:hover {
  filter: grayscale(0);
}

.dot span {
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  display: inline-block;
  border-radius: 50%;
}

.active_dot {
  background-color: #4579cb !important;
}

/* DRY -> DON'T REPEAT YOURSELF */

.btn-hover:hover {
  background-color: #fff !important;
  border: 2px solid #4579cb !important;
  color: #4579cb !important;
}
