@font-face {
    font-family: lato-medium;
    src: url("../assets/fonts/Lato/Lato-Medium.ttf");
}

@font-face {
    font-family: lato-semibold;
    src: url("../assets/fonts/Lato/Lato-Semibold.ttf");
}

@font-face {
    font-family: lato-bold;
    src: url("../assets/fonts/Lato/Lato-Bold.ttf");
}

@font-face {
    font-family: lato-regular;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: lato-heavy;
    src: url("../assets/fonts/Lato/Lato-Heavy.ttf");
}

