*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

header{
    width: 100%;
    background-color: salmon;
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.nav__brand{
    font-size: 24px;
    text-decoration: none;
    color:#000;
}

.nav .nav__list{
    display: flex;
    column-gap: 5rem;
    list-style-type: none;
    /* transform: translateY(80px); */
}

.nav .nav__list .nav__list--item{
    text-transform: uppercase;
    padding: 26px 0;
}

.nav .nav__list .nav__list--item .nav__list--item-link{
    text-decoration: none;
    color:#000;
}

.nav .nav__list .nav__list--item .nav__list--item-link:hover{
    color: #333;
}

.dropdown:hover .dropdown_menu{
    display: block;
}

.dropdown_menu{
    background-color: #fff;
    width: 150px;
   transform: translate(-30px , 29px);
   box-shadow:  0 0 10px silver;
   position: absolute;
   display: none;
}



.dropdown_menu li{
    padding: 10px;
    list-style-type: none;
    border-top: 1px solid silver;
}

.dropdown_menu li a{
    text-decoration: none;
    color:#000;
}

.dropdown_menu li:hover{
    background-color: #c6c6c6;
}

.dropdown_menu li:hover > a{
  color:#fff;  
}


/* custom input */

.wrapper{
    padding: 120px;
}

input[type="checkbox"]{
    width: 40px;
    height: 19px;
    appearance: none;
    border: 1px solid #575757;
    border-radius: 15px;
    background-color: #ffc1c1;
}

input[type="checkbox"]::after{
    content:"";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgb(255, 0, 89);
    display: block;
    transition: all 0.3s ease;
}

input[type="checkbox"]:checked:after{
    content:"";
    width: 17px;
    height: 17px;
    margin-left: 20px;
    border-radius: 50%;
    background-color: lime;
    display: block;
}

input[type="checkbox"]:checked{
    background-color:rgb(206, 247, 247);
}

    
