*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.grid-container {
  border: 2px solid #000;
  display: grid;
  min-height: 100vh;
  justify-items: stretch;
  align-items: stretch;
  grid-template-columns: repeat( 4 , 1fr);
  grid-template-rows: 70px 100vh 70px;
  grid-template-areas: 
   "header header header header"
   "aside main main sidebar"
   "footer footer footer footer";
  gap: 20px;
  margin-top: 50px;
  background-color:blue;
  padding: 10px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 2px;
  font-size: 32px;
  color:#000;
}

.grid-item:nth-child(1){
    grid-area: header;
    background-color:darkgreen;
}

.grid-item:nth-child(2){
    grid-area:aside;
    background-color:orangered;
}

.grid-item:nth-child(3){
    grid-area:main;
    background-color:rgb(0, 255, 238);
}

.grid-item:nth-child(4){
    grid-area:footer;
    background-color:rgb(82, 66, 59);
}


.grid-item:nth-child(5){
    grid-area:sidebar;
    background-color:rgb(91, 215, 8);
}








