*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 500px;
    height: 300px;
    background-color:green;
    margin: 50px auto;
    /* transition-property:all;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease; */
    transition:  all 1s ease;
}


.box:hover{
    background-color: lime;
    border-radius: 30px;
    width: 200px;
    height: 200px;
}

/* .box:active{
 background-color: red;
} */

.box:focus{
background-color: blue;
}


input{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    display: block;
}

input:focus{
    border-radius: 25px;
    color:green;
    transition:  all 1s ease;
}

input::placeholder{
    color:red;
}

a:visited{
    color:rgb(255, 104, 16);
}

a:nth-child(1){
    background-color: aqua;
    padding: 10px;
    color:red;
}


/* hover , active , focus , visited , nth */
/* transition ->    */
/* ::after , ::before , ::selection , ::placeholder , ::content  */